<h1><%= @user.name %></h1>

<h2>Created Events</h2>

<ol>
	<% @user.events.each do |event| %>
		<li><%= event.name %>: at <%= event.address %> on <%= event.date %></li>
	<% end %>
</ol>

<h2>Previously Attended Events</h2>

<ol>
	<% @previous_events.each do |attended_event| %>
		<li><%= attended_event.name %></li>
	<% end %>
</ol>


<h2>Upcoming Events</h2>

<ol>
	<% @upcoming_events.each do |attended_event| %>
		<li><%= attended_event.name %></li>
	<% end %>
</ol>