<h1><%= @event.name %></h1>

<p><%= @event.name%> will take place at <%= @event.address %> on <%= @event.date %></p>
<p><%= @event.description %>
<h2>Attendees</h2>
<ol>
	<% @event.attendees.each do |attendee| %>
		<li><%= attendee.name %></li>
	<% end %>
</ol>
