<h1>Invite People</h1>

<%= form_for(:invitation) do |f| %>

	<%= f.label :attended_event_id, "Event Name: " %>
	<%= f.text_field :attended_event_id %>

	<%= f.label :attendee_id, "User Name: " %>
	<%= f.text_field :attendee_id %>

	<%= f.submit "Invite" %>
<% end %>


